hr, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.pp {
    width: 10rem;
    border-radius: 100%;
}

