body{
  margin: 0;
}
#header{
  background: blue;
  padding: 5px;
}
.navTop{
  position: fixed;
  top: 0;
  width: 100%;
}
.main{
  background: white;
}
.footer{
  
}
a{
  color: blue;
}
a:hover{
  opacity: 0.8;
}
