body{
  margin: 0;
}
#header{
  background: blue;
  padding: 3px;
  display: block;
}
#hlink{
  text-decoration: none;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}
.navTop{
  position: fixed;
  width: 100%;
}
.main{
  padding-top: 40px;
  padding-left: 5px;
  padding-left: 5px;
  background: white;
}
.footer{
  display: flex;
  justify-content: center;
}
a{
  color: blue;
}
a:hover{
  opacity: 0.8;
}
#canvas1{
    border: 1px solid black;
}
